body {
  margin: 0;
  padding: 0;
}


.no-padding {
  padding: 0;
}

header#main-header .navbar{
  padding: 0 2% !important;
}
section#main-body {
  position: absolute;
  padding: 50px 0 0 0;
  top: 0;
  right:0;
  bottom:15%;
  left:0;
  max-height: 100%;
  background: rgba(20,39,200,0.5) url("../images/stars-background.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}


footer#main-footer {
  position: absolute;
  padding: 10px 2%;
  bottom: 0;
  height: 15%;
  width:100%;
  background: rgba(200,39,20,0.9);
}

/*
________________________________________________________________________________________________________________________

Slides CSS
________________________________________________________________________________________________________________________

*/

ul.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0;
    background: rgba(10,10,90,0.5);
    padding: 10%;
    color: #fff;
    font-size: 18rem;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    bottom: 0;
    /*left: -100%;*/
    z-index: 8;
    transition: transform 1.4s cubic-bezier(.01,1,.91,1) .5s;
  }
  li.active {
    z-index: 10;
    &.slide-left {
      transform: translate3d(100%,0,0);
    }
    &.slide-right{
      transform: translate3d(-100%,0,0);
    }
  }
  li.last-active {
    z-index:9;
  }
  li.anim {

  }
}

